
a.nuxt-link-exact-active {
  font-weight: bold;
}
@media (max-width: 991px) {  
  .website-title {font-size:1rem;}
  .pricing-card{
    max-width: 50%;
    margin: 0 25% 30px 25% !important;
  }
}
@media (max-width: 576px) {  
  .pricing-card{
    max-width: 100%;
    margin: 0 0 30px 0 !important;
  }
}
body {
  background-color: var(--background);
}
h1, h4, p {
  color: var(--heading1);
}
.pricing-card {
  background-color: var(--background);
  color: var(--text);
}